body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

img {
    width: 200px;
}
.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

h1 {
    color: #0073e6;
}

h2 {
    color: #005bb5;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}
